
  html, body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    background-size: cover;
    background-position: 0 0;
    background-attachment: fixed;
    background-image: url("images/flag.jpg");
  }

  h1, h2, h4{
    text-align: center;
  }

  .title {
    background-color: rgba(10, 56, 126, .85);
    color: white;
    padding: 20px;
    width: auto;
    border-radius: 50px;

    margin-bottom: 50px;
  }
  h4{
      text-align: center;
      font-size: 100%;
      
  }

  form {
    display: block;
    box-sizing: border-box;
    width: auto;
    padding: 25px;
    background-color: rgb(241, 250, 238, .8);
    margin: auto;
    border-radius: 5px;
    
    
  }

  .label{
    font-weight: bold;
    margin: auto;
    width: 50%;
 
  }
  
  .input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;

  }

  button, input[type="submit"]{
  align-self: center;
  padding: 10px 0;
  font-weight: bold;
  margin-top: 35px;
  font-size: 80%;
  }

  #search{
    background-color: rgb(8, 68, 158);
    color:white;
    border-radius: 5px;
    font-size: 20px;
  }
  
  #search{
    width: 60%;
  }
  
 .submit{
    display: flex;
    justify-content: center;
    
  }

  
  button:hover {
    cursor: pointer;
  }
  
  .container {
    margin: 0 auto;
  }
  
  .results {
    width: auto;
    background-color: rgb(241, 250, 238, .8);
    margin-top: 50px;
    padding-top: 10px;
    border-radius: 5px;
    
  }

  .tabContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: auto;
  }

  .tablink{
    word-wrap: normal;
    background-color: rgb(241, 250, 238, .8);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .tabContainer .buttonContainer, button{
    flex-grow: 1;
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;

    
  }

  .tabContainer .buttonContainer button:hover{
    background-color: #f1faee;
    
  }
  
  /* Style the tab content */
  .tabcontent{
    display: flex;
    flex-direction: row; 
    flex-grow: 1;
    justify-content: space-around;
    margin: 0 ;
  }

  .branch{
    width: auto;
    margin: 20px 0px;
    border-radius: 10px;
    
    color: #f1faee;
  }

  .results-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 5px;
  }
  
  .judicial {
    border: 3px solid black;

  }

  .executive {  
    border: 3px solid black;;
  }

  .legislative {
    border: 3px solid black;
  }
  img{
      width: 100%;
  }
.error-message {
    color: red;
}

a:link{
 color: #edf6f9;
}
a:visited{
 color: #caf0f8;
}
a:hover {
 font-size: 22px;
}
.hidden {
  display: none;
}

@media (min-width: 600px){
  .container {
    width: 60%;
  }
  .branch{
    width: 25%
    

  }

}
